@import 'variables';
@import 'form';

nav {
  height: 34px;
  background-color: #2d2d2d;

  a {
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }
}

body {
  margin: $body-margin;
  //padding: $body-padding;
  text-align: center; // make logo center
  font-family: arial,sans-serif;
  //background-color: #e9eaed;
  background-color: #f8f8f8;
}

small {
  font-size: 85%;
}

.logo-nav-left {
  cursor: pointer;
  float: left;
  margin-top: 3px;
  display: inline;
  height: 31px;
}

.login-button {
  float: right;
  line-height: 34px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px 0 5px;
  /* background-color: #000; */
  //margin: 10px 10px 10px 10px;
}


.logo {
  height: $logo-height;

  img {
    width: $logo-width;
  }
}

// auto-complete
.autocomplete-suggestions { border: 1px solid #eee; background: #fff; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

// footer
.footer {
  bottom: 0;
  font-size: 10pt;
  height: 35px;
  position: fixed;
  width: 100%;
}

.fbar{
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px;

  a {
    text-decoration: none;
  }
}

// page result
page-result {
  width: 100%;
}

.result-count {
  padding: 0 0 4px 8px;
  text-align: left;
  color: #666;
}

.page-pos {
  color: #666;

  .curpage {
    background: #f2f8ff;
    border: 1px solid #e1e2e3;
    width: 34px;
    height: 34px;
    cursor: pointer;
    line-height: 34px;
  }

  .next, .prev {
    background: #f2f8ff;
    border: 1px solid #e1e2e3;
    padding: 0px 4px 0px 4px;
    height: 34px;
    cursor: pointer;
    line-height: 34px;
  }

  .curpage:hover, .next:hover, .prev:hover {
    border: 1px solid #38f;
  }

  span {
    display: inline-block;
  }
}
