@import 'variables';

body {
	margin: $body-margin;
	padding: $body-padding;
	text-align: center; // make logo center
  	font-family: arial,sans-serif;
}

// form
.search-control {
    padding-top: 115px;
}

.search-control-nav {
    padding-top: 0;
}

.job-form {
  width: 413px;
  display: inline;
}

// job form when in navbar
.job-form-nav {
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
}

.job-input {
  width: 50%;
  min-width: 450px;
  height: 32px;
  padding-left: 10px;
  margin-top: 15px;
}

// form group in navbar
.form-group-nav {
    display: inline;
}

// auto-complete
.autocomplete-suggestions { border: 1px solid #999; background: #def; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

// footer
.footer {
  bottom: 0;
  font-size: 10pt;
  height: 35px;
  position: absolute;
  width: 100%;
}

.fbar{
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px;

  a {
  	text-decoration: none;
  }
}
