
<div>
    <div ng-repeat="position in rows.docs" class="job-card">
        <span>{{position.positionName}}</span>
        <a href="{{position.website}}">{{position.companyName}}</a>
        <br/>
        <span>{{position.salary}}</span>
        <span>{{position.city}}</span>
    </div>
</div>
<div ng-if="rows.numFound > 0">共找到结果{{rows.numFound}}条.</div>
<div>{{curpage}}页</div>
<span ng-if="curpage>1" ng-click="curpage=curpage-1">上一页</span>
<span ng-if="curpage*10<rows.numFound"><i ng-click="curpage = curpage + 1">下一页</i></span>